*{
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.nav{
  display: flex;
  background-color:lightseagreen;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}

.nav2{
  display: flex;
  gap: 30px;
}