*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  background: #111;
  gap: 20px;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: #222;
}
.card img{
  height: 100px;
  width: 200px;
  object-fit: cover;
  border-radius: 50px;
}
.card p{
  margin: 20px 0px;
}

.card button{
  padding: 10px 20px;
  background: white;
  color:black ;
  border-radius: 5px;

}